// colors
$gold-color:#D1B06B;
$black-color:#000;
$white-color:#fff;
$text-color_1:#D7D7D7;
$text-color_2:#909090;
$text-color_3:#1F2732;
$title-color_1:#161D27;
$border-color:#4E555F;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

