.footer {
  background-color: $title-color_1;
  padding-bottom: 4rem;
  @include bp($point_3){
    padding-top: 2rem;
  }
  .footer__in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__coll {
      width: 100%;
      display: flex;
      align-items: center;
      @include bp($point_3) {
        flex-direction: column;
      }
      &.footer__coll.footer__coll--one {
        
        @include bp($point_2, min){
          margin-bottom: 9.5rem;
        }
        @include bp($point_3){
          margin-bottom: 3rem;
        }
        .footer__logo_w {
          display: block;
          object-fit: contain;
          @include bp($point_2, min) {
            width: 40rem;
            height: 8rem;
          }
          @include bp($point_3) {
            width: 33rem;
            height: 8rem;
          }
          .footer__logo {
            @extend %contain_image;
          }
        }
      
        .footer__decor_w {
          display: block;
          object-fit: contain;
          width: 52.3rem;
          height: 8rem;

          &.footer__decor_w.footer__decor_w--rotate {
            transform: rotate(180deg);
          }
          .footer__decor {
            @extend %contain_image;
          }
        }
      }
      &.footer__coll.footer__coll--two {
        width: 100%;
        display: flex;
        justify-content: center;
        
        @include bp($point_2, min){
          margin-bottom: 7rem;
        }
        @include bp($point_3){
          text-align: center;
          margin-bottom: 3rem;
        }
        .footer__list {
          display: flex;
          align-items: center;
          column-gap: 10rem;
          @include bp($point_2, min){
            column-gap: 10rem;
          }
          @include bp($point_3){
            flex-direction: column;
            row-gap: 3rem ;
          }

          .footer__item {
            .footer__item_title {
              font-size: 3rem;
              line-height: 3.9rem;
              color: $white-color;
              border-top: 2px solid $border-color;
              border-bottom: 2px solid $border-color;
              padding: 2rem 0;
              margin-bottom: 3rem;
            }
            .footer__subs_coll {
              display: flex;
              flex-direction: column;
              row-gap: 2rem;

              .footer__subtitle {
                line-height: 3.2rem;
                color: $text-color_1;
                text-decoration: none;
                transition: color 0.5s ease-in-out;
                &:hover {
                  color: $gold-color;
                }
              }
            }
            &.footer__item.footer__item--size_1 {
              max-width: 32.2rem;
              .footer__subs {
                display: flex;
                column-gap: 7.9rem;
                .footer__subs_coll {
                  display: flex;
                  flex-direction: column;
                  row-gap: 2rem;
                }
              }
            }
            &.footer__item.footer__item--size_2 {
              max-width: 18.4rem;
            }
            &.footer__item.footer__item--size_3 {
              max-width: 18.4rem;
            }
            &.footer__item.footer__item--size_4 {
              max-width: 36.9rem;
              .footer__subs {
                display: flex;
                flex-direction: column;
                
                @include bp($point_2, min){
                  row-gap: 7rem;
                }
                @include bp($point_3){
                  row-gap: 2rem;
                }
                .footer__subs_coll {
                  .footer__subtitle {
                    &:hover {
                      color: $text-color_1;
                    }
                    .footer__subtitle_link {
                      line-height: 3.2rem;
                      color: $text-color_1;
                      padding-left: 1rem;
                      text-decoration: none;
                      transition: color 0.5s ease-in-out;
                      &:hover {
                        color: $gold-color;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.footer__coll.footer__coll--three {
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        @include bp($point_2, min){
          padding: 3rem 0;
        }
        @include bp($point_3){
          flex-direction: column;
          text-align: center;
          padding: 1rem 0;
        }
        .last__text {
          line-height: 3.2rem;
          color: $text-color_1;
          @include bp($point_3){
            margin-bottom: 1rem;
          }
          span {
            color: $gold-color;
            font-size: 2.2rem;
          }
        }
        .footer__socials {
          display: flex;
          align-items: center;
          @include bp($point_2, min){
            margin-left: auto;
          }
          @include bp($point_3){
            margin-left: 0;
          }
          .nav__folow {
            line-height: 3.2rem;
            color: $gold-color;
          }
          .sprite__socials {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            padding-left: 2rem;
            .social__link {
              display: block;
              color: $white-color;
              width: 2rem;
              height: 2rem;
              transition: all 0.5s ease-in-out;
              &:hover {
                color: $gold-color;
                transform: scale(1.2, 1.2);
              }
              .icon {
                @extend %contain_image;
              }
            }
          }
        }
      }
    }
  }
}
